<!-- Overlay for Forms -->
<div *ngIf="!isLoggedIn && (showLoginForm || showRegisterForm)" id="overlay"></div>
<div *ngIf="isLoggedIn && (showAddTaskForm || showEditTaskForm)" id="overlay"></div>

<!-- Login Form -->
<div *ngIf="!isLoggedIn && showLoginForm" class="auth-form-container">
  <form (ngSubmit)="login()">
    <div class="auth-form-header">
      <h1>Login</h1>
    </div>
    <div class="auth-form-group">
      <label for="loginEmail">Email:</label>
      <input type="email" id="loginEmail" [(ngModel)]="loginData.email" name="email" required [ngClass]="{ 'input-error': loginErrors.email }"
             (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (keydown)="handleKeydown($event, loginEmail, loginPassword)" #loginEmail/>
      <div class="error-message" *ngIf="loginErrors.email">
        {{ loginErrors.email }}
      </div>
    </div>
    <div class="auth-form-group">
      <label for="loginPassword">Password:</label>
      <input type="password" id="loginPassword" [(ngModel)]="loginData.password" name="password" required [ngClass]="{ 'input-error': loginErrors.password }"
             (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (keydown)="handleKeydown($event, loginPassword, null)" #loginPassword/>
      <div class="error-message" *ngIf="loginErrors.password">
        {{ loginErrors.password }}
      </div>
    </div>
    <button type="submit">Login</button>
    <p>Don't have an account? <a (click)="showRegisterForm = true; showLoginForm = false">Sign up</a></p>
  </form>
</div>

<!-- Registration Form -->
<div *ngIf="!isLoggedIn && showRegisterForm" class="auth-form-container">
  <form (ngSubmit)="register()">
    <div class="auth-form-header">
      <h1>Signup</h1>
    </div>
    <div class="auth-form-group">
      <label for="registerUsername">Username:</label>
      <input type="text" id="registerUsername" [(ngModel)]="registerData.username" name="username" required [ngClass]="{ 'input-error': registerErrors.username }"
             (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (keydown)="handleKeydown($event, registerUsername, registerEmail)" #registerUsername/>
      <div class="error-message" *ngIf="registerErrors.username">
        {{ registerErrors.username }}
      </div>
    </div>
    <div class="auth-form-group">
      <label for="registerEmail">Email:</label>
      <input type="email" id="registerEmail" [(ngModel)]="registerData.email" name="email" required [ngClass]="{ 'input-error': registerErrors.email }"
             (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (keydown)="handleKeydown($event, registerEmail, registerPassword)" #registerEmail/>
      <div class="error-message" *ngIf="registerErrors.email">
        {{ registerErrors.email }}
      </div>
    </div>
    <div class="auth-form-group">
      <label for="registerPassword">Password:</label>
      <input type="password" id="registerPassword" [(ngModel)]="registerData.password" name="password" required [ngClass]="{ 'input-error': registerErrors.password }"
             (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (keydown)="handleKeydown($event, registerPassword, null)" #registerPassword/>
      <div class="error-message" *ngIf="registerErrors.password">
        {{ registerErrors.password }}
      </div>
    </div>
    <button type="submit">Sign up</button>
    <p>Already have an account? <a (click)="showRegisterForm = false; showLoginForm = true">Login</a></p>
  </form>
</div>


<!-- Task Manager -->
<div *ngIf="isLoggedIn">
  <header >
    <div class="header-left">
    <h1 class="title">Kanban</h1>
    <button *ngIf="isLoggedIn" (click)="logout()" class="logout-button">Logout</button>
    </div>
    <div class="header-right">
    <button class="add-button" (click)="showTaskForm()" aria-label="Add Task">+</button>
    </div>
  </header>
  
  <div class="board-header">
    <h2 class="sub-title">To-do Board</h2>
  </div>
  

    <!-- To-do Column -->  
    <div class="task-columns">
    <div
      class="column"
      id="todo-column"
      [ngClass]="{'with-tasks': hasTasks('todo')}"
      (dragover)="allowDrop($event)"
      (drop)="dropTask('todo', $event)"
    >
      <h2 class="column-title"
        [ngClass]="{ 'no-tasks': !hasTasks('todo') }" >
        To-do  <span class="todo-task-count">{{ getTaskCount('todo') }}</span>
      </h2>
      <div
        *ngFor="let task of tasks | filterByColumn: 'todo'"
        class="task"
        [ngClass]="{
          'todo': task.column === 'todo',
          'in-progress': task.column === 'in-progress',
          'done': task.column === 'done',
          'overdue': isOverdue(task) && task.column !== 'done'
        }"
        draggable="true"
        (dragstart)="startDrag($event, task)"
        (dragend)="endDrag()"
      >

      <!-- Task Content -->
      <div class="task">
        <div class="task-buttons">
          <button class="edit-task" (click)="showEditForm(task)" aria-label="Edit Task">
            <ion-icon name="create-outline"></ion-icon>
          </button>
          <button class="delete-task" (click)="deleteTask(task)" aria-label="Delete Task">
            X
          </button>
        </div>
        <div class="task-details">
          <p class="task-name">{{ task.name }}</p>  
        </div>
        <div class="due-date-cont">
          <p>
            Due Date: <span class="due-date">{{ task.dueDate }}</span>
            <span *ngIf="isOverdue(task) && task.column !== 'done'" class="overdue-text">Overdue!</span>
          </p>
        </div>
      </div>
      
      </div>
    </div>
  
    <!-- In Progress Column -->
    <div
      class="column"
      id="in-progress-column"
      [ngClass]="{'with-tasks': hasTasks('in-progress')}"
      (dragover)="allowDrop($event)"
      (drop)="dropTask('in-progress', $event)"
    >
      <h2 class="column-title"
        [ngClass]="{ 'no-tasks': !hasTasks('in-progress') }">
        In Progress <span class="inprog-task-count">{{ getTaskCount('in-progress') }}</span>
      </h2>
      <div
        *ngFor="let task of tasks | filterByColumn: 'in-progress'"
        class="task"
        [ngClass]="{
          'todo': task.column === 'todo',
          'in-progress': task.column === 'in-progress',
          'done': task.column === 'done',
          'overdue': isOverdue(task) && task.column !== 'done'
        }"
        draggable="true"
        (dragstart)="startDrag($event, task)"
        (dragend)="endDrag()"
      >

      <!-- Task Content -->
      <div class="task">
        <div class="task-buttons">
          <button class="edit-task" (click)="showEditForm(task)" aria-label="Edit Task">
            <ion-icon name="create-outline"></ion-icon>
          </button>
          <button class="delete-task" (click)="deleteTask(task)" aria-label="Delete Task">
            X
          </button>
        </div>
        <div class="task-details">
          <p class="task-name">{{ task.name }}</p>
        </div>
        <div class="due-date-cont">
          <p>
            Due Date: <span class="due-date">{{ task.dueDate }}</span>
            <span *ngIf="isOverdue(task) && task.column !== 'done'" class="overdue-text">Overdue!</span>
          </p>
        </div>
      </div>    
  
      </div>
    </div>
  
    <!-- Done Column -->
    <div
      class="column"
      id="done-column"
      [ngClass]="{'with-tasks': hasTasks('done')}"
      (dragover)="allowDrop($event)"
      (drop)="dropTask('done', $event)"
    >
      <h2 class="column-title"
        [ngClass]="{ 'no-tasks': !hasTasks('done') }">
        Done <span class="done-task-count">{{ getTaskCount('done') }}</span>
      </h2>
      <div
        *ngFor="let task of tasks | filterByColumn: 'done'"
        class="task"
        [ngClass]="{
          'todo': task.column === 'todo',
          'in-progress': task.column === 'in-progress',
          'done': task.column === 'done'
        }"

        draggable="false" 
      >

      <!-- Task Content -->
      <div class="task">
        <div class="task-buttons">
          <button class="edit-task" *ngIf="false" aria-label="Edit Task">
            <ion-icon name="create-outline"></ion-icon>
          </button>
          <button class="delete-task" (click)="deleteTask(task)" aria-label="Delete Task">
            X
          </button>
        </div>
        <div class="task-details">
          <p class="task-name">{{ task.name }}</p>
        </div>
        <div class="due-date-cont">
          <p>
            Due Date: <span class="due-date">{{ task.dueDate }}</span>
            <span *ngIf="isOverdue(task) && task.column !== 'done'" class="overdue-text">Overdue!</span>
          </p>
        </div>
      </div>
      
      </div>
    </div>
  </div>
  
  <!-- Add Task Form -->
  <div *ngIf="showAddTaskForm" id="taskForm" class="task-form">
    <form (ngSubmit)="addTask()">
      <div class="form-header">
        <h1>New To-do</h1>
        <button type="button" class="close-button" (click)="showAddTaskForm = false" aria-label="Close Form">X</button>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="newTask.name" name="taskName" placeholder="Add a To-do item" required maxlength="50">
      </div>
      <div class="form-group">
        <label for="addDueDate">Due Date:</label><br>
        <input type="date" id="addDueDate" [(ngModel)]="newTask.dueDate" name="dueDate">
      </div>
      <div class="form-group">
        <button type="submit">Add Task</button>
      </div>
    </form>
  </div>
  
  <!-- Edit Task Form -->
  <div *ngIf="showEditTaskForm" id="editForm" class="task-form">
    <form (ngSubmit)="editCurrentTask()">
      <div class="form-header">
        <h1>Edit item</h1>
        <button type="button" class="close-button" (click)="showEditTaskForm = false" aria-label="Close Form">X</button>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="editTask.name" name="taskName" placeholder="Enter new to-do name" required maxlength="50">
      </div>
      <div class="form-group">
        <label for="editDueDate">Due Date:</label><br>
        <input type="date" id="editDueDate" [(ngModel)]="editTask.dueDate" name="dueDate">
      </div>
      <div class="form-group">
        <button type="submit">Update</button>
      </div>
      <div class="form-group">
        <button type="button" class="close-form" (click)="showEditTaskForm = false">Cancel</button>
      </div>
    </form>
  </div>
  
</div>

<!-- Logout Confirmation Modal -->
<div *ngIf="showLogoutModal" id="logoutModal" class="modal-overlay">
  <div class="modal-content">
    <button class="modal-close-button" (click)="closeLogoutModal()">X</button>
    <h2>Confirm Logout</h2>
    <p>Are you sure you want to log out?</p>
    <button class="logout" (click)="confirmLogout()">Logout</button>
    <button class="cancel" (click)="closeLogoutModal()">Cancel</button>
  </div>
</div>
